.navigation-wrapper {
    background-color: black;
    color: white;
    display: flex;
    border: none;
    border: 0px;
    flex-direction: row;
}

.navigation-wrapper>.center-column>.banner-image img {
    width: 216px;
    height: 100%;
}

.navigation-wrapper>.center-column>.banner-image img {
    display: flex;
    justify-content: center;
}

.navigation-wrapper>.right-column>.icon {
    width: 216px;
    height: 50px;
}