body {
    margin: 0;
    background: black;
    color: white;
    display:flex;
    font-family:sans-serif;
}

.navigation-wrapper {
    width:100%;
    display: flex;
    justify-content:space-between;
  display:flex;
  padding:0em 2em;
  
}
.nav-grid {
  display:grid;
  grid-template-columns:1fr;
    width:30%;
  font-size:1.55em;
  margin-left:2em;
}

.Explore {
  color:yellow;
}

.left-column {
    display: flex;
    align-items:center;
  flex:85%;
}

.logo{
  display:block;
  max-width:210px;
  max-height:47px;
  width: auto;
  height: auto;
  
}


.navigation-wrapper .nav-wrapper {
  display: flex;
  align-items:center;
  justify-content:space-between;
  
}

.right-column {
  display:flex;
  align-items:center;
  justify-content: space-between;
  flex:15%;
  
}

.spark {
  color:gray;
  
}

.btn {
    color:white;
    background-color: gray;
    border:5em;
    font-size: 1.3em;
    padding: 0 1.5em;
    
}

.search {
    font-size: 1.3em;
}